@import "tailwindcss";
@import "tw-animate-css";
@import "@ispo/design/tokens.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
